*{
    font-family: 'Work Sans';
    color: hsl(292, 42%, 14%);
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    background-image: url('/assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(276, 71%, 95%);
}

.substrate {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
}
