* {
    font-size: 16px;
    font-family: 'Work Sans';
    color: hsl(292, 42%, 14%);
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.title h1 {
    font-size: xx-large;
}

.title img {
    width: 10%;
}

hr {
    border: 1px solid hsl(275, 100%, 97%);
    border-radius: 5px;
}

.wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(276, 71%, 95%);
}

.indicator {
    vertical-align: middle;
    float: right;
}

.main {
    padding: 20px;
    margin: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 90%;
}

.answer {
    display: none;
    font-size: small;
    color: hsl(292, 16%, 49%);
    line-height: 1.5;
}

.question {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.question:hover {
    cursor: pointer;
    color: hsl(281, 83%, 54%);
}

.title {
    display: flex;
}

.title h1 {
    padding-left: 10%;
}

.question h2 {
    margin-right: 20px;
}